---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

// Custom styles
body {
    background-color: #fbfbff;
}

.site-title {
    font-size: 32px;
    padding-top: 38px;
    color: #000;
}

.site-header {
    border-bottom: none;
}

.page-content {
    padding-top: 100px;
    .wrapper {
        width: 640px;
    }
}

.site-header > .wrapper {
    max-width: calc(1068px - (30px * 2));
}


.site-nav {
    padding-top: 40px;
    color: #000;
}

.trigger {
    .page-link {
        font-weight: 500;
        font-size: 32px;
        &:hover {
            text-decoration: none;
        }
        &.active {
            padding-bottom: 5px;
            border-bottom: #22b8cf solid 4px; 
        }
    

    }

    .page-link:not(:last-child) {
        margin-right: 48px;
    }
}

.home {
    hr {
        margin: 64px auto;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 32px;
    }
}

#testimonials {
    ul {
        li {
            margin-left: 72px;
        }
    }
}

#title-wrapper {
    h1 {
        font-size: 40px;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


a.post-link {
    color: #404042;
}

.post-list-grid {
    .grid-col-item {
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding: 0 32px 0 0;
        margin-bottom: 32px; 
        &:nth-child(even) {
            padding-right: 0;
        }
        img {
            box-shadow: 0 1px 3.5px 0 rgba(0, 0, 0, 0.1);
        }

        &:nth-child(odd){
            clear:left;
        }
    }
    


    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.page-heading {
    font-size: 30px;
    font-weight: 600;
    height: 120px;
}

.heading-block {

    img {
        float: left;
        padding-right: 5%;
    }

    p {
        margin-top: 32px;
    }

}


a.read-more-link {
  border-radius: 2px;
  background-color: #22b8cf;
  padding: 10px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  display: inline-block;
}

hr {
    border: 1px solid #f0f1f1;
    }

.posts_archive {
    margin: 40px auto;
}

.writing {
    & > h2 
    {
        position: relative;
        &:before {
            
  background-color: #22b8cf;
  content: ' ';
  position: absolute;
  width: 16px;
  height: 32px;
left: -32px;
        top: 14px;
        }        
    }
    h2 {
        font-size: 40px;
    }

    .categories {
        color: #22b8cf;
    }
    .post-date {
    padding-right: 40px;
    }
    p {
    margin: 15px auto;
    }
}

blockquote {
    color: #000;
    border-left: 4px solid #22b8cf;
    padding-left: 15px;
    font-size: 16px;
    letter-spacing: -1px;
    font-style: normal;
}

.post_template a {
    color: #22b8cf !important;
    text-decoration: none;
}