---
layout: default
---
<div class="writing">
  <h2>Latest</h2>
  <hr>
    {% for post in paginator.posts %}
        <div class="posts_archive">
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
        <time class="post-date">{{ post.date | date: "%B %-d, %Y"}}</time>
        <span class="categories">
          {% for category in post.categories %}
            <a href="/category/{{category}}">{{category}}</a>{% if forloop.last == false %},{% endif%}
          {% endfor %}
        </span>
        <p>{{post.excerpt}}</p>
        {% if post.podcast_excerpt != nil %}
          <blockquote>{{ post.podcast_excerpt }}</blockquote>
        {% endif %}
        <a class="post-link read-more-link" href="{{ post.url | relative_url }}">Read More</a>
      </div>
    {% endfor %}
</div>












{% if paginator.total_pages > 1 %}  
<div class="pagination">  
  {% if paginator.previous_page %}  
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>  
  {% else %}  
    <span>&laquo; Prev</span>  
  {% endif %}  
  
  {% if paginator.next_page %}  
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>  
  {% else %}  
    <span>Next &raquo;</span>  
  {% endif %}  
</div>  
{% endif %}  

