---
layout: default
---

<div class="home">
  <div class="heading-block">
    <div id="title-wrapper">
        <img src="http://placehold.it/192x256">
        <h1 class="page-heading">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</h1>
      </div>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
  <hr>
  <div id="testimonials">
    <h2>Testimonials</h2>
    <ul class="post-list">
        {% for testimonial in site.testimonials %}
          <li>
            <img src="{{ testimonial.image_path }}" />
          {{testimonial.content}}
          <span style="display:inline-block; margin-right: 30px;">&mdash; {{testimonial.name}}</span>
          {{testimonial.title}}, {{testimonial.company}}

          </li>
        {% endfor %}
      </ul>
  </div>
  <hr>

<h2>Articles</h2>
  <div class="post-list-grid">
    {% for post in site.posts %}
      {% if forloop.index < 5 %}
      <div class="grid-col-item">
        <img src="{{ post.featured_image }}" />
        <h3><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
        <p>
        {{post.excerpt}}
        </p>
      </div>
      {% else %}
      <!--
        <div>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <p>{{post.excerpt}}</p>
      </div>
      -->
      {% endif %}
    {% endfor %}
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if forloop.index >= 5 %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
        <p>
        {{post.excerpt}}
        </p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>


</div>
