---
layout: default
---
<div class="writing">
  <h2>Latest</h2>
  <hr>
    {% for post in site.posts %}
        <div class="posts_archive">
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
        <span class="post-date">{{ post.date | date: "%B %-d, %Y"}}</span>
        <span class="categories">
          {% for category in post.categories %}
            <a href="/category/{{category}}">{{category}}</a>{% if forloop.last == false %},{% endif%}
          {% endfor %}
        </span>
        <p>{{post.excerpt}}</p>
        {% if post.podcast_excerpt != nil %}
          <blockquote>{{ post.podcast_excerpt }}</blockquote>
        {% endif %}
        <a class="post-link read-more-link" href="{{ post.url | relative_url }}">Read More</a>
      </div>
    {% endfor %}
</div>